<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BenDesk</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="navbar-text text-white me-3">
            Olá, {{ user.username }}!
          </span>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
