{% extends 'base.html' %}

{% block content %}
<h2>Adicionar Novo Usuário</h2>

<form method="POST">
    <div class="mb-3">
        <label>Primeiro Nome</label>
        <input type="text" name="first_name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Sobrenome</label>
        <input type="text" name="last_name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Login</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Senha</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Perfil</label>
        <select name="profile" class="form-control" required>
            <option value="Administrador">Administrador</option>
            <option value="Suporte">Suporte</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>
{% endblock %}
