{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
<a href="{{ url_for('ativos') }}" class="btn btn-outline-secondary mb-3">← Voltar para Gestão de Ativos</a>
<a href="{{ url_for('novo_tipo_dispositivo') }}" class="btn btn-primary mb-3">+ Novo Tipo</a>
</div>
<div class="d-flex justify-content-center align-items-center mb-3">
<h2>Tipos de Dispositivo</h2>
</div>

<table class="table table-bordered table-striped text-center">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    {% for tipo in tipos %}
    <tr>
      <td>{{ tipo.id }}</td>
      <td>{{ tipo.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
